[Unit]
Description=Vantage Agent
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/vantage-agent/vantage-agent.env
ExecStart=/opt/vantage-agent/venv/bin/vantage-agent
Restart=always

[Install]
WantedBy=multi-user.target
